<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CoD Stats Tool - Display Stats</title>
        <style>
            table {
                border-collapse: collapse;
                width: 85%;
            }
            td, th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <br>
        <form action='{{ url_for("matchupPreview") }}' method="post">
            Team 1
            <select id="team1" name="team1">
                {% for team in stats.teams %}
                    <option value="{{ team }}">{{ team }}</option>
                {% endfor %}
            </select>
            Team 2
            <select id="team2" name="team2">
                {% for team in stats.teams %}
                    <option value="{{ team }}">{{ team }}</option>
                {% endfor %}
            </select>
            <button type="submit">Search</button>
        </form>

        <h2>Matchup Preview</h2>
        <h3>{{ team1.name }} vs {{ team2.name }}</h3>

        <table>
            <tr>
                <th></th>
                <th colspan="2">{{ team1.name }}</th>
                <th colspan="2">Head to Head</th>
                <th colspan="2">{{ team2.name }}</th>
            </tr>
            <tr>
                <th></th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Team 1 Wins</th>
                <th>Team 2 Wins</th>
                <th>Wins</th>
                <th>Losses</th>
            </tr>
            <tr>
                <td>Overall Record</td>
                <td>{{ team1.wins }}</td>
                <td>{{ team1.losses }}</td>
                <td>0</td>
                <td>0</td>
                <td>{{ team2.wins }}</td>
                <td>{{ team2.losses }}</td>
            </tr>
            <tr>
                <td>Map Record</td>
                <td>{{ team1.mapWins }}</td>
                <td>{{ team1.mapLosses }}</td>
                <td>0</td>
                <td>0</td>
                <td>{{ team2.mapWins }}</td>
                <td>{{ team2.mapLosses }}</td>
            </tr>
            <tr>
                <td>{{ stats.modes[0] }}</td>
                <td>{{ team1.modeWins[0] }}</td>
                <td>{{ team1.modeLosses[0] }}</td>
                <td>0</td>
                <td>0</td>
                <td>{{ team2.modeWins[0] }}</td>
                <td>{{ team2.modeLosses[0] }}</td>
            </tr>
            <tr>
                <td>{{ stats.modes[1] }}</td>
                <td>{{ team1.modeWins[1] }}</td>
                <td>{{ team1.modeLosses[1] }}</td>
                <td>0</td>
                <td>0</td>
                <td>{{ team2.modeWins[1] }}</td>
                <td>{{ team2.modeLosses[1] }}</td>
            </tr>
            <tr>
                <td>{{ stats.modes[2] }}</td>
                <td>{{ team1.modeWins[2] }}</td>
                <td>{{ team1.modeLosses[2] }}</td>
                <td>0</td>
                <td>0</td>
                <td>{{ team2.modeWins[2] }}</td>
                <td>{{ team2.modeLosses[2] }}</td>
            </tr>
        </table>

        {% endblock %}
    </body>
</html>