<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Flask Parent Template</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/template.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">Stats Tool for Call of Duty</h1>
                <strong><nav>
                    <ul class="menu">
                        <li>
                            <a href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for('statsEntry') }}">Stats Entry</a>
                        </li>
                        <li>
                            <a href="{{ url_for('viewMatches') }}">View Matches</a>
                        </li>
                        <li>
                            <a href="{{ url_for('viewMaps') }}">View Maps</a>
                        </li>
                        <li>
                            <a href="{{ url_for('viewPlayers') }}">View Players</a>
                        </li>
                        <li>
                            <a href="{{ url_for('matchupPreview') }}">Matchup Preview</a>
                        </li>
                        <li>
                            <a href="{{ url_for('mapPreview') }}">Map Preview</a>
                        </li>
                    </ul>
                </nav></strong>
            </div>
        </header>

        <center>
            {% block content %}
            {% endblock %}
        </center>

        </body>
</html>