<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CoD Stats Tool - Display Stats</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <br>
        <form action='{{ url_for("viewMaps") }}' method="post">
            Team
            <select id="team" name="team">
                <option value="All">All</option>
                <option value="Atlanta FaZe">Atlanta FaZe</option>
                <option value="Chicago Huntsmen">Chicago Huntsmen</option>
                <option value="Dallas Empire">Dallas Empire</option>
                <option value="Florida Mutineers">Florida Mutineers</option>
                <option value="London Royal Ravens">London Royal Ravens</option>
                <option value="Los Angeles Guerrillas">Los Angeles Guerrillas</option>
                <option value="Minnesota Rokkr">Minnesota Rokkr</option>
                <option value="New York Subliners">New York Subliners</option>
                <option value="OpTic Gaming Los Angeles">OpTic Gaming Los Angeles</option>
                <option value="Paris Legion">Paris Legion</option>
                <option value="Seattle Surge">Seattle Surge</option>
                <option value="Toronto Ultra">Toronto Ultra</option>
            </select>
            Opponent
            <select id="opponent" name="opponent">
                <option value="All">All</option>
                <option value="Atlanta FaZe">Atlanta FaZe</option>
                <option value="Chicago Huntsmen">Chicago Huntsmen</option>
                <option value="Dallas Empire">Dallas Empire</option>
                <option value="Florida Mutineers">Florida Mutineers</option>
                <option value="London Royal Ravens">London Royal Ravens</option>
                <option value="Los Angeles Guerrillas">Los Angeles Guerrillas</option>
                <option value="Minnesota Rokkr">Minnesota Rokkr</option>
                <option value="New York Subliners">New York Subliners</option>
                <option value="OpTic Gaming Los Angeles">OpTic Gaming Los Angeles</option>
                <option value="Paris Legion">Paris Legion</option>
                <option value="Seattle Surge">Seattle Surge</option>
                <option value="Toronto Ultra">Toronto Ultra</option>
            </select>
            Mode
            <select id="mode" name="mode">
                <option value="All">All</option>
                <option value="Hardpoint">Hardpoint</option>
                <option value="Search and Destroy">Search and Destroy</option>
                <option value="Domination">Domination</option>
            </select>
            <button type="submit">Search</button>
        </form>

        <div class="results">
            <h1>Map query results</h1>
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
        </div>

        {% endblock %}
    </body>
</html>