<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CoD Stats Tool - Maps</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <br>
        <form action='{{ url_for("viewMaps") }}' method="post">
            Team
            <select id="team" name="team">
                <option value="All" {% if selectedItems[0] =='' %} selected {% endif %}>All</option>
                {% for team in stats.teams %}
                    <option value="{{ team }}" {% if selectedItems[0] == team %} selected {% endif %}>{{ team }}</option>
                {% endfor %}
            </select>
            Opponent
            <select id="opponent" name="opponent">
                <option value="All" {% if selectedItems[1] =='' %} selected {% endif %}>All</option>
                {% for team in stats.teams %}
                    <option value="{{ team }}" {% if selectedItems[1] == team %} selected {% endif %}>{{ team }}</option>
                {% endfor %}
            </select>
            Event
            <select id="event" name="event">
                <option value="All" {% if selectedItems[2] =='' %} selected {% endif %}>All</option>
                {% for event in stats.events %}
                    <option value="{{ event }}" {% if selectedItems[2] == event %} selected {% endif %}>{{ event }}</option>
                {% endfor %}
            </select>
            Mode
            <select id="mode" name="mode">
                <option value="All" {% if selectedItems[3] =='' %} selected {% endif %}>All</option>
                {% for mode in stats.modes %}
                    <option value="{{ mode }}" {% if selectedItems[3] == mode %} selected {% endif %}>{{ mode }}</option>
                {% endfor %}
            </select>
            Map
            <select id="map" name="map">
                <option value="All" {% if selectedItems[4] =='' %} selected {% endif %}>All</option>
                {% for map in stats.allMaps %}
                    <option value="{{ map }}" {% if selectedItems[4] == map %} selected {% endif %}>{{ map }}</option>
                {% endfor %}
            </select>
            <button class="submit" type="submit">Search</button>
        </form>

        <div class="results">
            <h2>Map query results ({{ length }} {% if length == 1 %} result{% else %} results{% endif %})</h2>
            {% if team in stats.teams %}
                <h3>Wins: {{ wins }} &nbsp;&nbsp; Losses: {{ losses }}</h3>
            {% endif %}
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
            <div class="mapData">
                <table>
                    <thead>
                        <tr>
                            {% for col in data[0] %}
                            <td>
                                <strong>{{ col }}</strong>
                            </td>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td>{{ row['Team 1'] }}</td>
                                <td>{{ row['Team 2'] }}</td>
                                <td>{{ row['Event'] }}</td>
                                <td>{{ row['Mode'] }}</td>
                                <td>{{ row['Map'] }}</td>
                                <td>{{ row['Map Number'] }}</td>
                                <td>{{ row['Team 1 Score'] }}</td>
                                <td>{{ row['Team 2 Score'] }}</td>
                                <td>{{ row['Map Winner'] }}</td>
                                <td>{{ row['Total Game Time'] }}</td>
                                {% if row['Map VOD']|string|length > 3 %}
                                    <td>
                                        <a href="{{ row['Map VOD'] }}">VOD</a>
                                    </td>
                                {% else %}
                                    <td>No VOD</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% endblock %}
    </body>
</html>