<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CoD Stats Tool - Matches</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <br>
        <form action='{{ url_for("viewMatches") }}' method="post">
            Team
            <select id="team" name="team">
                <option value="All" {% if selectedItems[0] =='' %} selected {% endif %}>All</option>
                {% for team in stats.teams %}
                    <option value="{{ team }}" {% if selectedItems[0] == team %} selected {% endif %}>{{ team }}</option>
                {% endfor %}
            </select>
            Opponent
            <select id="opponent" name="opponent">
                <option value="All" {% if selectedItems[1] =='' %} selected {% endif %}>All</option>
                {% for team in stats.teams %}
                    <option value="{{ team }}" {% if selectedItems[1] == team %} selected {% endif %}>{{ team }}</option>
                {% endfor %}
            </select>
            Event
            <select id="event" name="event">
                <option value="All" {% if selectedItems[2] =='' %} selected {% endif %}>All</option>
                {% for event in stats.events %}
                    <option value="{{ event }}" {% if selectedItems[2] == event %} selected {% endif %}>{{ event }}</option>
                {% endfor %}
            </select>
            <button class="submit" type="submit">Search</button>
        </form>

        <div class="results">
            <h2>Match query results ({{ length }} {% if length == 1 %} result{% else %} results{% endif %})</h2>
            {% if team in stats.teams %}
                <h3>Wins: {{ wins }} &nbsp;&nbsp; Losses: {{ losses }}</h3>
            {% endif %}
            <div class="data">
                {% for table in tables %}
                    {{ table|safe }}
                {% endfor %}
            </div>
        </div>

        {% endblock %}
    </body>
</html>